<form [formGroup]="vm.metadata.form">
  <div class="row">

    <app-input *ngIf="vm.metadata.controlExists(propNames.entityId)"
               class="col-1"
               [formGroup]="vm.metadata.form"
               [controlName]="propNames.entityId"
               [vm]="vm.metadata.fieldProps[propNames.entityId]"></app-input>

    <app-dropdown *ngIf="vm.metadata.controlExists(propNames.contactType)"
                  class="col-1"
                  [formGroup]="vm.metadata.form"
                  [controlName]="propNames.contactType"
                  [vm]="vm.metadata.fieldProps[propNames.contactType]"></app-dropdown>

    <app-input *ngIf="vm.metadata.controlExists(propNames.firstName)"
               class="col-2"
               [formGroup]="vm.metadata.form"
               [controlName]="propNames.firstName"
               [vm]="vm.metadata.fieldProps[propNames.firstName]"></app-input>

    <app-input *ngIf="vm.metadata.controlExists(propNames.lastName)"
               class="col-2"
               [formGroup]="vm.metadata.form"
               [controlName]="propNames.lastName"
               [vm]="vm.metadata.fieldProps[propNames.lastName]"></app-input>

    <app-date *ngIf="vm.metadata.controlExists(propNames.startDate)"
              class="col-1"
              [formGroup]="vm.metadata.form"
              [controlName]="propNames.startDate"
              [vm]="vm.metadata.fieldProps[propNames.startDate]"></app-date>

    <app-date *ngIf="vm.metadata.controlExists(propNames.endDate)"
              class="col-1"
              [formGroup]="vm.metadata.form"
              [controlName]="propNames.endDate"
              [vm]="vm.metadata.fieldProps[propNames.endDate]"></app-date>

    <app-input *ngIf="vm.metadata.controlExists(propNames.companyName)"
               class="col-2"
               [formGroup]="vm.metadata.form"
               [controlName]="propNames.companyName"
               [vm]="vm.metadata.fieldProps[propNames.companyName]"></app-input>

  </div>
</form>
<app-form-summary-utility *ngIf="vm.metadata.displayDiagnostics"
                          [form]="vm.metadata.form"></app-form-summary-utility>

