<form [formGroup]="vm.metadata.form">
  <div class="row">
    <app-dropdown class="col-2"
                  [formGroup]="vm.metadata.form"
                  [controlName]="'contactType'"
                  [vm]="vm.metadata.fieldProps['contactType']"></app-dropdown>

    <div class="form-group col-2"
         [ngClass]="vm.metadata.fieldProps['firstName'].class">
      <label for="firstName">{{vm.metadata.fieldProps['firstName'].label}}</label>
      <input type="text"
             class="form-control"
             id="firstName"
             formControlName="firstName"
             placeholder="">
    </div>
    <div class="form-group col-3">
      <label for="lastName">Last Name</label>
      <input type="text"
             class="form-control"
             id="lastName"
             formControlName="lastName"
             placeholder="">
    </div>
    <div class="form-group col-2">
      <label for="dob">DOB</label>
      <input type="text"
             class="form-control"
             id="dob"
             formControlName="dob"
             placeholder="">
    </div>
  </div>
</form>
<app-form-summary-utility [form]="vm.metadata.form"></app-form-summary-utility>

