<form [formGroup]="vm.metadata.form">
  <div class="row">
    <app-dropdown class="col-2"
                  [formGroup]="vm.metadata.form"
                  [controlName]="'contactType'"
                  [vm]="vm.metadata.fieldProps['contactType']"></app-dropdown>

    <app-input class="col-2"
               [formGroup]="vm.metadata.form"
               [controlName]="'firstName'"
               [vm]="vm.metadata.fieldProps['firstName']"></app-input>

    <app-input class="col-3"
               [formGroup]="vm.metadata.form"
               [controlName]="'lastName'"
               [vm]="vm.metadata.fieldProps['lastName']"></app-input>

    <app-date class="col-4"
              [formGroup]="vm.metadata.form"
              [controlName]="'dob'"
              [vm]="vm.metadata.fieldProps['dob']"></app-date>

  </div>
</form>
<app-form-summary-utility [form]="vm.metadata.form"></app-form-summary-utility>

