<div class="row"
     *ngIf="!vm.metadata.editMode"
     (click)="setEditable(true)">
  <div class="col-1">
    <span>
      {{vm.data[propNames.id]}}
    </span>
  </div>
  <div class="col-2">{{vm.data[propNames.contactType]}}</div>
  <div class="col-1">{{vm.data[propNames.firstName]}}</div>
  <div class="col-2">{{vm.data[propNames.lastName]}}</div>
  <div class="col-1">{{vm.data[propNames.startDate]}}</div>
  <div class="col-1">{{vm.data[propNames.endDate]}}</div>
  <div class="col-2">{{vm.data[propNames.companyName]}}</div>
</div>

<form [formGroup]="vm.metadata.form"
      *ngIf="vm.metadata.editMode">
  <div class="row">

    <div class="col-1">
      <a (click)="selectEntity()"
         class="btn btn-success"
         [ngClass]="selected ? 'btn-success' : 'btn-info'">
        {{vm.data[propNames.id] || 'New'}}
      </a>
    </div>

    <app-dropdown class="col-2"
                  [formGroup]="vm.metadata.form"
                  [controlName]="propNames.contactType"
                  [vm]="vm.metadata.fieldProps[propNames.contactType]"></app-dropdown>

    <app-input class="col-1"
               [formGroup]="vm.metadata.form"
               [controlName]="propNames.firstName"
               [vm]="vm.metadata.fieldProps[propNames.firstName]"></app-input>

    <app-input class="col-2"
               [formGroup]="vm.metadata.form"
               [controlName]="propNames.lastName"
               [vm]="vm.metadata.fieldProps[propNames.lastName]"></app-input>

    <app-date class="col-1"
              [formGroup]="vm.metadata.form"
              [controlName]="propNames.startDate"
              [vm]="vm.metadata.fieldProps[propNames.startDate]"></app-date>

    <app-date class="col-1"
              [formGroup]="vm.metadata.form"
              [controlName]="propNames.endDate"
              [vm]="vm.metadata.fieldProps[propNames.endDate]"></app-date>

    <app-input class="col-2"
               [formGroup]="vm.metadata.form"
               [controlName]="propNames.companyName"
               [vm]="vm.metadata.fieldProps[propNames.companyName]"></app-input>
  </div>
  <button class="btn btn-primary"
          (click)="save()">Save
  </button>
</form>
<app-form-summary-utility *ngIf="vm.metadata.displayDiagnostics"
                          [form]="vm.metadata.form"></app-form-summary-utility>

